*{
    margin: 0;
}

* a{
    text-decoration: none;
    color: #1286D4;
}

* a:hover{
    color: #1D1D1D;
}

header {
    position: fixed;
    top: 0;
    z-index: 9000;
    background-color: rgba(255, 255, 255);
}

header > nav{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3vw;
    -webkit-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
}

header > nav > div#img{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-left: 2%;
}

header > nav > div#img > img{
    height: auto;
    width: 75%;
}

header > nav > div#texto{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;    
    width: 58%;
}

header > nav > div#texto > a{
    padding: 0 1vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    display: inline-flex;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header > nav > div#texto > a:hover{
    color:rgb(252, 130, 42);
}

header > nav > div#iconos{    
    width: 7%;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

header > nav > div > img{
    height: auto;
    width: 25%;
}

body{
    font-family: Kanit, Serif;
}

div#sidebar{
    background-color: rgba(255, 255, 255, 0.925);
    letter-spacing: 0.6px;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 20%;
    overflow-y: scroll;
    left: 0;
    top: 50px;
    border-right: 1px solid rgba(150, 150, 150, 0.3);
}

div#sidebar > h2{
    background-color: #bcbbba;
    color: #ffffff;
    padding: 5% 0;
    text-align: center;
    font-size: 22pt;
    font-weight: 600;
}

div#sidebar > ul.sidebar-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

div#sidebar > ul.sidebar-menu > li > a{
    padding: .5em;
    line-height: 40px;
    cursor: pointer;
    display: block;
    color: #1D1D1D;
    font-size: 15pt;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    transition: background-color 0.8s, color 0.5s;
    font-weight: 600;
    text-decoration: none;
    text-decoration-style: solid;
}

div#sidebar > ul.sidebar-menu > li > a:hover{
    color: rgb(196, 29, 29);
    background-color: rgba(208, 208, 208, 0.272);
}

main{
    margin-left: 20%;
    background-color: rgb(250, 250, 250);
    color: rgb(29, 29, 29);
    width: 80%;
    position: relative;
    top: 50px;
}

main > div#marco{
    width: 90%;
    margin: 10px auto 0 auto;
    padding-top: 1%;
}

div#marco > h1{
    font-size: 30pt;
    text-align: center;
    margin-bottom: 10px;
    line-height: 32pt;
    font-weight: 400;
    letter-spacing: 1px;
}

div#marco > p.separador{
    border-top: black;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 6px;
    padding-bottom: 40px;
}

div#financieria{
    padding-bottom: 2vw;
    background-color: #1D1D1D;
    color: #ffffff;
    width: 100%;
    margin: 3% auto 0 auto;
}

div#financieria > h1{
    text-align: center;
    padding-top: 1%;
    font-family: kanit;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30pt;
    margin-bottom: 10px;
    width: 100%;
    line-height: 32pt;
}

div#financieria > p.separador{
    color:#ffffff;
    margin: 0 auto;
    width: 90%;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 6px;
    padding-bottom: 4vw;
}

div#marco > .dropdown{
    position: relative;
}

div#marco > .dropdown *{
    box-sizing: border-box;
}

div#marco > .dropdown .select{
    display: flex;
    background: #3c3c3c;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    color: #FAFAFA;
    padding: 1em;
    cursor: pointer;
    transition: background 0.6s;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    font-weight: 600;
}

div#marco > .dropdown .select:hover{
    background: #282828;
}

div#marco > .dropdown .select-clicked{
    background: rgb(173, 18, 9);
}

div#marco > .dropdown .select-clicked:hover{
    background: rgb(173, 18, 9);
}

div#marco > .dropdown .select .mas{
    font-weight: bolder;
    font-size: 150%;
    font-family: Kansit, serif;
}

div#marco > .dropdown .menu{
    background:rgba(0,0,0,0.1);
    opacity: 0;
    display: none;
    transition: display 0.3s;
}

div#marco > .dropdown .menu div{
    background: rgba(0,0,0,0.1);
    font-size: 1.2em;
    margin-left: 20px;
    font-family: Kanit, Serif;
    letter-spacing: 0.5px;
    line-height: 1.8vw;
    font-weight: 500;
    line-height: 30px;
}

div#marco > .dropdown .menu div ol{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 100%;
}

div#marco > .dropdown .menu div span{
    font-size: 140%;
    padding: 0 1%;
}

div#marco > .dropdown .menu div a{
    padding-block: 1%;
    display: block;
    font-weight: bold;
    background: #ffffff;   
}

div#marco > .dropdown .menu-open{
    display: block;
    opacity: 1;
}

div#programa{
    text-align: center;
    background-color: #1D1D1D;
    color: #ffffff;
    width: 100%;
    margin: 3% auto 0 auto;
    padding-bottom: 3vw;
}

div#programa > h1{
    padding-top: 1%;
    font-family: kanit;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30pt;
    margin-bottom: 10px;
    width: 100%;
    line-height: 32pt;
}

div#programa > p.separador{
    color:#ffffff;
    margin: 0 auto;
    width: 90%;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 6px;
    padding-bottom: 4vw;
}

div#programa > a{
    text-align: left;
    display: block;
    font-family: kanit, serif;
    line-height: 28pt;
    letter-spacing: 0.6px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2vw;
}

div#programa > a:hover{
    color:white;
}

div#comite > h1{
    padding-top: 1%;
    font-family: kanit;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30pt;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    line-height: 32pt;
}

div#comite > p.separador{
    color:black;
    margin: 0 auto;
    width: 90%;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 6px;
    padding-bottom: 2vw;
}

div#comite > ol{
    list-style: decimal;
}

div#comite > ol > li{
    font-family: kanit, serif;
    line-height: 30pt;
    letter-spacing: 0.6px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2vw;
}

div#comite > ol > li > a{
    font-weight: bold;
    cursor: pointer;
}



div#financieria > .dropdown{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

div#financieria > .dropdown *{
    box-sizing: border-box;
}

div#financieria > .dropdown > .select{
    display: flex;
    background: #3c3c3c;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    color: #FAFAFA;
    padding: 1em;
    cursor: pointer;
    transition: background 0.6s;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    font-weight: 600;
}

div#financieria > .dropdown > .select:hover{
    background: #282828;
}

div#financieria > .dropdown > .select-clicked{
    background: rgb(173, 18, 9);
}

div#financieria > .dropdown > .select-clicked:hover{
    background: rgb(173, 18, 9);
}

div#financieria > .dropdown > .select > .mas{
    font-weight: bolder;
    font-size: 150%;
    font-family: Kansit, serif;
}

div#financieria > .dropdown > .menu{
    background:rgba(0,0,0,0.1);
    opacity: 0;
    display: none;
    transition: display 0.3s;
}

div#financieria > .dropdown > .menu > div{
    background: rgba(0,0,0,0.1);
    font-size: 1.2em;
    margin-left: 20px;
    font-family: Kanit, Serif;
    letter-spacing: 0.5px;
    line-height: 1.8vw;
    font-weight: 500;
    line-height: 30px;
}

div#financieria > .dropdown > .menu > div > ol{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 100%;
}


div#financieria > .dropdown > .menu > div > a{
    padding-block: 1%;
    display: block;
    background: #ffffff;   
}


div#financieria > .dropdown > .menu > div > a > span{
    font-size: 140%;
    padding: 0 1%;
    font-weight: bold;
}

div#financieria > .dropdown > .menu-open{
    display: block;
    opacity: 1;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .select{    
    display: flex;
    background: #3c3c3c;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    color: #FAFAFA;
    padding: 1em;
    cursor: pointer;
    transition: background 0.6s;
    justify-content: space-between;
    align-items: center;
    font-size: 90%;
    font-weight: 600;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .select:hover{
    background: #282828;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .select-clicked{
    background: rgb(173, 18, 9);
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .select-clicked:hover{
    background: rgb(173, 18, 9);
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .select > .mas{
    font-weight: bolder;
    font-size: 150%;
    font-family: Kansit, serif;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu{
    background:rgba(0,0,0,0.1);
    opacity: 0;
    display: none;
    transition: display 0.3s;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > .dropdown{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > .dropdown > .select{
    display: flex;
    background: #3c3c3c;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    color: #FAFAFA;
    padding: 1em;
    cursor: pointer;
    transition: background 0.6s;
    justify-content: space-between;
    align-items: center;
    font-size: 80%;
    font-weight: 600;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > .dropdown > .select > .mas{
    font-weight: bolder;
    font-size: 150%;
    font-family: Kansit, serif;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > .dropdown > .menu{
    background:rgba(0,0,0,0.1);
    opacity: 0;
    display: none;
    transition: display 0.3s;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > .dropdown > .menu > ol > li{

}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > .dropdown > .menu-open{
    display: block;
    opacity: 1;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > a{
    padding-block: 1%;
    display: block;
    background: #ffffff;   
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > a > span{
    font-size: 140%;
    padding: 0 1%;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div{
    background: rgba(0,0,0,0.1);
    font-size: 1.2em;
    margin-left: 20px;
    font-family: Kanit, Serif;
    letter-spacing: 0.5px;
    line-height: 1.8vw;
    font-weight: 500;
    line-height: 30px;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 100%;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > span{
    font-size: 140%;
    padding: 0 1%;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > a > span{
    font-size: 120%;
    font-weight: bold;
    padding: 0 1%;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > a{
    padding-block: 1%;
    display: block;
    background: #ffffff;   
    font-size: 90%;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > a{
    padding-block: 1%;
    display: block;
    font-weight: bold;
    background: #ffffff;   
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu-open{
    display: block;
    opacity: 1;
}

/*sub sub sub*/
div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .select{    
    display: flex;
    background: #3c3c3c;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    color: #FAFAFA;
    padding: 1em;
    cursor: pointer;
    transition: background 0.6s;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    font-weight: 600;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .select:hover{
    background: #282828;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .select-clicked{
    background: rgb(173, 18, 9);
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .select-clicked:hover{
    background: rgb(173, 18, 9);
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .select > .mas{
    font-weight: bolder;
    font-size: 100%;
    font-family: Kansit, serif;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .menu{
    background:rgba(0,0,0,0.1);
    opacity: 0;
    display: none;
    transition: display 0.3s;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .menu > div{
    background: rgba(0,0,0,0.1);
    font-size: 1em;
    margin-left: 20px;
    font-family: Kanit, Serif;
    letter-spacing: 0.5px;
    line-height: 1.8vw;
    font-weight: 500;
    line-height: 30px;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 90%;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .menu > div span{
    font-size: 140%;
    padding: 0 1%;
    font-weight: bold;
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .menu > div a{
    padding-block: 1%;
    display: block;
    background: #ffffff;   
}

div#financieria > .dropdown > .menu > div > ol > li > .dropdown > .menu > div > ol > li > .dropdown > .menu-open{
    display: block;
    opacity: 1;
}